<DOCTYPE html>
<html lang="en">
    <head>
        <title>CS 121: Search Engine</title>
        <meta charset="UTF-8">
        <script src="script.js"></script>
    </head>
    <body>
        <h1>CS 121: Search Engine</h1>
        <h2>A Solid Snake Product</h2>

        <form action="http://127.0.0.1:5000/" method="POST">
            <label for="query">Search:</label>
            <input name="query" type="search" autofocus autocomplete="on">
            <input type="submit">
        </form>

        
        <div id="results">
            <h2 id="inputted_query">Results for</h2>
            <div id="results_list">
            </div>
        </div>

        
    </body> 

</html>