<DOCTYPE html>
<html lang="en">
    <head>
        <title>CS 121: Search Engine</title>
        <meta charset="UTF-8">
        <script src="script.js"></script>
    </head>
    <body>
        <h1>CS 121: Search Engine</h1>
        <h2>A Solid Snake Product</h2>

        <form action="http://127.0.0.1:5000/" method="POST">
            <label for="query">Search:</label>
            <input name="query" type="search" autofocus autocomplete="on">
            <label for="max_results">K Results Desired:</label>
            <input name="max_results" type="number" min="1">
            <input type="submit">
        </form>

        
        

        
    </body> 

</html>